{% extends 'base.html' %}
{% block content %}
    


    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      {% include 'navbar.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
         <form  action="/students/add_projects" >   
         {% comment %} {% csrf_token %} {% endcomment %}
            <div class="row">
<!--             
                 -->
             <div class="container my-4">
                
                    <div class="d-flex flex-row justify-content-between mb-3">
                      <h4 class="card-title mt-2 mb-1">Projects</h4>
                      <button type="submit" class="btn btn-primary btn-fw" >Add Proejcts</button>
                      {% comment %} <select class="text-muted typeahead col-4 mb-1">
                          <option class="text-muted mb-1">All</option>
                          <option class="text-muted mb-1">Developing</option>
                          <option class="text-muted mb-1">Designing</option>
                          <option class="text-muted mb-1">Workshops</option>
                          <option class="text-muted mb-1">Non Cultural Events</option>
                      </select> {% endcomment %}
                    </div>
                  
             </div>    
                  
              <div class="col-md-3 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Cloud Computing</h4>
                    
                      <div class="achieve_item">
                        <img src="assets/images/dashboard/Rectangle.jpg" alt="">
                      </div>
                      <!-- <div class="item">
                        <img src="assets/images/dashboard/Img_5.jpg" alt="">
                      </div>
                      <div class="item">
                        <img src="assets/images/dashboard/img_6.jpg" alt="">
                      </div> -->
                    
                    <div class="d-flex py-3">
                      <div class="preview-list w-100">
                        <div class="preview-item p-0">
                          <!-- <div class="preview-thumbnail">
                            <img src="assets/images/faces/face12.jpg" class="rounded-circle" alt="">
                          </div> -->
                          <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                              <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                <h6 class="preview-subject">CeeCee Bass</h6>
                              </div><p class="text-muted">Well, it seems to be working now.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
               
               <div class="col-md-3 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Cloud Computing</h4>
                    
                      <div class="achieve_item">
                        <img src="assets/images/dashboard/Img_5.jpg" alt="">
                      </div>
                      <!-- <div class="item">
                        <img src="assets/images/dashboard/Img_5.jpg" alt="">
                      </div>
                      <div class="item">
                        <img src="assets/images/dashboard/img_6.jpg" alt="">
                      </div> -->
                    
                    <div class="d-flex py-3">
                      <div class="preview-list w-100">
                        <div class="preview-item p-0">
                          <!-- <div class="preview-thumbnail">
                            <img src="assets/images/faces/face12.jpg" class="rounded-circle" alt="">
                          </div> -->
                          <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                              <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                <h6 class="preview-subject">CeeCee Bass</h6>
                              </div><p class="text-muted">Well, it seems to be working now.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              </div>
              </form>
              
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </div>


    {% endblock content %}
